<div class="background">
   <img src="../assets/img/background.jpg">
</div>

<div class="buttons">
  <div class="sign-in" [ngStyle]="{'backgroundColor': status === 'sign-in' ? 'white':'#EAF0F4'}">
    <a routerLink="sign-in" routerLinkActive="active" (click)="setStatus('sign-in')">Sign In</a>
  </div>
  <div class="sign-up" [ngStyle]="{'backgroundColor': status === 'sign-up' ? 'white':'#EAF0F4'}">
    <a routerLink="sign-up" routerLinkActive="active" (click)="setStatus('sign-up')">Sign Up</a>
  </div>
</div>

<router-outlet></router-outlet>