.login-field {
    width: 65%;
    margin: auto;
    margin-top: 75px;
}
input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 15px;
}
::-webkit-input-placeholder {
    color: #BEBEBE;
}

.login-buttons {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.login-buttons button{
    width: 100%;
    height: 35px;
    border-radius: 20px;
    margin-bottom: 5px;
}
#btn-sign-in {
    background-color: white;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
}
#btn-facebook {
    background-color: #A9C7D7;
    border: none;
    color: white;
}