<div class="login-field">
  <table id="login_table">
    <tr>
      <td>
        <img class="login_icon" src="../../../assets/icon/user.png" alt="user"/>
      </td>
      <td>
        <input type="text" placeholder="Email" [(ngModel)]="user.email" autofocus>
      </td>
    </tr>
    <tr>
      <td>
        <img class="login_icon" src="../../../assets/icon/lock.png" alt="lock"/>
      </td>
      <td>
        <input type="password" placeholder="Password" [(ngModel)]="user.password">
      </td>
    </tr>
  </table>
</div>

<div class="login-buttons">
  <button id="btn-sign-in" (click)="signIn()">Sign In</button>
  <button id="btn-facebook">Facebook</button>
</div>