button#wait {
    width: 400px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    background-color: #6699ff;
    color: white;
    border: none;
    font-size: 1.3em;
}

img#store-img {
    width: 100%;
    
}
h1 {
    text-align: center;
}
h4#content {
    margin-left: 10px;
    margin-right: 10px;
}
h3#tel {
    margin-top: 10px;
    text-align: center;
    color: #CCCCCC;
}