<div class="header">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/store" routerLinkActive="active">Store</a>
</div>

<router-outlet></router-outlet>

<!--
<div class="background">
   <img src="../assets/img/background.jpg">
</div>

<div class="buttons">
  <div class="sign-in" (click)="onClick()">
    <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
  </div>
  <div class="sign-up" (click)="onClick()">
    <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
  </div>
</div>

<router-outlet></router-outlet>

-->