<div class="header">
    ID <input type="email" placeholder="email"> 
    PW <input type="password" placeholder="password">
    <button>LOGIN</button>
</div>


<div class="body">
  <ul class="nav navbar-nav">
    <li><a routerLink="/sign-up" routerLinkActive="active">SignUp</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>

<div class="footer">
<a routerLink="/home" routerLinkActive="active">
  <span class="glyphicon glyphicon-home"></span>
  <span class="glyphicon glyphicon-hourglass"></span>
</a>
</div>
