<div id="my-info">
  <h3>{{myInfo.name}}</h3>
  <h4>{{myInfo.email}}</h4>
</div>

<table id="my-menu">
  <tr>
    <td>
      <a (click)="showComponent('waiting')">
        <img src="../../../assets/icon/alarm-clock.png" alt="clock_icon"/>
      </a>
    </td>
    <td>
      <a (click)="showComponent('waiting')">
        <img src="../../../assets/icon/like.png" alt="like_icon"/>
      </a>
    </td>
    <td>
      <a (click)="showComponent('setting')">
        <img src="../../../assets/icon/settings.png" alt="setting_icon"/>
      </a>
    </td>
  </tr>
  <tr>
    <td>waiting</td>
    <td>favorite</td>
    <td>setting</td>
  </tr>
</table>