<div id="my-info">
  <h3>User Name</h3>
  <h5>000-000-0000</h5>
</div>

<table id="my-menu">
  <tr>
    <td>
      <a>
        <img src="../../../assets/icon/alarm-clock.png" alt="clock_icon"/>
      </a>
    </td>
    <td>
      <a>
        <img src="../../../assets/icon/like.png" alt="like_icon"/>
      </a>
    </td>
    <td>
      <a>
        <img src="../../../assets/icon/settings.png" alt="setting_icon"/>
      </a>
    </td>
  </tr>
  <tr>
    <td>waiting</td>
    <td>favorite</td>
    <td>setting</td>
  </tr>
</table>