
button#add {
    background-color: #009999;
    color: white;
    border: none;
}

table.waiting {
    width: 450px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

table.waiting tr {
}

table.waiting td#waiting-name {
    width: 200px;
    padding-left: 15px;
    font-size: 1.2em;
    box-shadow: 5px 5px 5px #888888;
}

table.waiting td#waiting-phone {
    width: 50px;
    background-color: #00cc99;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 5px #888888;

}

button#waiting-delete {
    width: 70px;
    height: 50px;
    background-color: #FF4D4D;
    color: white;
    border: none;
    box-shadow: 5px 5px 5px #888888;
}
a {
    color: white;
}