

.wrap {
    width: 300px;
}

.wrap textarea {
    width: 100%;
    resize: none;
    overflow-y: hidden; /* prevents scroll bar flash */
    padding: 0.5em; /* prevents text jump on Enter keypress */
    padding-bottom: 0.2em;
    line-height: 1.6;
}
table.waiting {
    width: 100%;
    border: 1px solid #333333;
    margin: auto;
}